{% set region = {
    'zh': 'cn',
    'cn': 'cn',
    'ir': 'ir',
    'ru': 'ru'
}.get(hconfigs['country'], 'cn') %}
{
  "route": {
    "rule_set":[
         {
            "tag":"geoip-{{region}}",
            "type":"remote",
            "format":"binary",
            "update_interval":"1d",
            "url":"https://raw.githubusercontent.com/Chocolate4U/Iran-sing-box-rules/rule-set/geoip-{{region}}.srs"
         },
         {
            "tag":"geosite-{{region}}",
            "type":"remote",
            "format":"binary",
            "update_interval":"1d",
            "url":"https://raw.githubusercontent.com/Chocolate4U/Iran-sing-box-rules/rule-set/geosite-{{region}}.srs"
         }
    ],
    // "domainStrategy": "AsIs",
    "final": {% if hconfigs['warp_mode'] == 'all' %}"WARP"{% else %}"freedom"{% endif %},
      "rules": [
        {
          "protocol": "quic",
          "port": [443],
          "outbound": "blackhole"
        },
        {
            "outbound": "blackhole",
             "rule_set":[
              "geoip-{{region}}", "geosite-{{region}}"
             ]
        },
        {% if hconfigs['warp_mode'] != 'disable' %}
          {
              "outbound": "WARP",
              "geosite":[
                  "google",
                  "spotify",
                  "netflix",
                  "bytedance",
                  "tiktok",
                  "unity",
                  "reddit"
              ]
          },
          {% if hconfigs.get('warp_sites','').split('\n') %}
          {
              "outbound": "WARP",
              "domain":[                
                    {%for d in hconfigs.get('warp_sites','').split('\n')%}
                        "{{d.strip()}}",
                    {% endfor %}
              ]
          },
          {% endif %}
        {% endif %}
        {
          "outbound": "blackhole", "geoip": ["private"]
        },
        {
        "outbound": "blackhole", 
        "protocol": ["bittorrent"]
        }
      ]
    }
  

}
